[Unit]
Description=Cocktail Machine Hardware Controller
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/potion-master-pi/hardware
ExecStartPre=/bin/bash -c 'cd /home/pi/potion-master-pi && git pull origin main'
ExecStart=/usr/bin/node cocktail-machine.js
Restart=always
RestartSec=10
Environment=NODE_ENV=production

# Hardware access
SupplementaryGroups=gpio i2c

[Install]
WantedBy=multi-user.target